<html>
    <head>
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script>
            $(function() {
                $('.img-container').html('<iframe src="//giphy.com/embed/M6hgceLnI2uJi" width="480" height="384" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>');
                $('.title-container').html('<h2>What is on TV?</h2>');

                var topGifs = [];
                var index = 0;

                $.getJSON( "/gifs", function( data ) {
                    topGifs = data.gifs;
                });     
   
                var addToDom = function(topGifs, index) {
                    var gif = topGifs[index];
                    $('.img-container').html('<img src="' + gif.url + '"/>');
                    $('.title-container').html('<div>' + gif.title + '</div>');
                }; 

                function startGifs() {
                    function addGif() {
                        if (index < topGifs.length) {
                            index += 1;
                            addToDom(topGifs, index);
                        }
                        else {
                            index = 0;
                        }
                    }
                    window.setInterval(addGif, 5000)
                };

                startGifs();

           
                     

                // $('.show-img-button').click(function() {
                //     index += 1;
                //     addToDom(topGifs, index);                 
                // });

                // var displayBestGif = function() {
                //     $.getJSON( "/gifs", function( data ) {
                //         // Get URL To Display
                //         // Response will look like:
                        
                //             {
                //               'gifs': [
                //                 {
                //                     'title': 'Some title',
                //                     'url': 'http://imgur.com/asdf.gif'
                //                 },
                //                 ...
                //               ]
                //             }
                        
                //         var gifs = data.gifs;
                //         var gifToDisplay = gifs[0];
                //         var url = gifToDisplay.url;
                       
                //         // Display img in img-container
                //         $('.img-container').html('<img src="' + url + '"/>');
                //     });
                // };

            });
        </script>
    </head>
    <body>
        
        <div class="img-container" style="vertical-align: middle; position: fixed; top: 100px; border: 70px solid black;">
        </div>
     
        <h2 class="title-container">
        </h2>
    </body>
</html>
